.chat-input-container {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .chat-input {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    margin-right: 10px;
  }
  
  /* Adjust the icon styles as needed */
  .icon-container i {
    margin-right: 5px;
    color: #888;
    cursor: pointer;
  }
  
  /* Styling specifically for the attachment and send icons */
  .attacha{
    font-size: 18px;
  }
  
  .icon-container i.fa-paper-plane {
    color: #0084ff;
    font-size: 18px;
  }
  