ul{
    list-style-type: none;
}

.trip{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}
.icon {
    margin-right: 10px;
  }
  
  .trip_no {
    margin-right: auto;
  }
  
  .edit_icon {
    margin-left: 10px;
  }

  @media screen and (max-width: 600px) {
    .trip {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .icon,
    .trip_no,
    .edit_icon {
      margin: 5px 0;
    }
  
    .edit_icon {
      margin-left: auto;
    }
  }
  