*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header css */
.trip{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}
.icon {
    margin-right: 10px;
  }
  
  .trip_no {
    margin-right: auto;
    margin-bottom: 10px;
    width: 275px;
height: 30px;

font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;

color: #141E0D;
  }
  
  .edit_icon {
    margin-left: 10px;
   font-size: 24px;
  }

  
  .trip_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.user_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
  }
  
  .user_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

.travel_data{
    margin-right: auto;
}

.dot_icon{
    margin-left: 10px;
    font-size: 24px;
}
.line {
    border-top: 0.5px solid #adacac; 
    margin: 10px 0; 
    padding-bottom: 100px;
  }

  .date_container {
    display: flex;
    align-items: center;
    
  }
  
  .date-line {
    flex-grow: 1;
    position: absolute;
    width: 116px;
    height: 0px;
    left: 16px;
    top: 283px;
    
    border: 1px solid #B7B7B7;
  }
  
  .date {
    margin: 0 10px;
  }
  