.header{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 16px 16px;
    gap: 16px;
    
    position: absolute;
    width: 375px;
    height: 130px;
    left: 0px;
    top: 47px;
    
    border-bottom: 1px solid #E5E5E0;
}

.trip{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 100%;
height: 30px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.icon{

}

.trip_no{
    
}