.header{
    height: 30%;
    width: 100%;
    background-color: red;
}

.trip{
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30%;
}

.icon{

}

.trip_no{
    margin-right: auto;
    margin-bottom: 30px;
    background-color: aqua;
    width: auto;
    padding: 10px;
    height: 10px;

}
 .no{
    padding-bottom: 100px;
}