.header{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 16px 16px;
    gap: 16px;
    
    position: absolute;
    width: 375px;
    height: 130px;
    left: 0px;
    top: 47px;
    
    border-bottom: 1px solid #E5E5E0;
}

.trip{
    
}