.header{
    height: 30%;
    width: 100%;
    background-color: red;
}

.trip{
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30%;
    bgcl
}

.icon{
margin-right: 5px;
}

.trip_no{
    margin-right: auto;
    margin-bottom: 40px;
    
    width: auto;
    padding: 10px 10px;
    height: 30px;
    margin-top: -10px;


}
 .trip_no h3{
    margin-top: -2px;
}

.edit_icon{
    margin-right: 20px;
}