.card-body {
    display: flex;
    flex-direction: column;
    width: 50px;
    background-color: ;
  }
  
  .members,
  .share-members,
  .report {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .text {
    font-size: 16px;
  }
  