.card-body {
    display: flex;
    flex-direction: column;
    
position: absolute;
width: 156px;
height: 144px;
left: 203px;
top: 153px;
bgclr
filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.12));
border-radius: 8px
   
  }
  
  .members,
  .share-members,
  .report {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .text {
    font-size: 16px;
  }
  